<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="container-fluid">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">SIREMA</a>
        </div>

        
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav">
            {{#if isAdmin}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listas <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'regionList'}}">Regiones</a></li>
                <li><a href="{{pathFor 'provinciaList'}}">Provincias</a></li>
                <li><a href="{{pathFor 'distritoList'}}">Distritos</a></li>
                <li class="divider"></li>
                <li><a href="{{pathFor 'ieList'}}">Instituciones Educativas</a></li>
                <li><a href="{{pathFor 'docenteList'}}">Docentes</a></li>
                <li class="divider"></li>
                <li><a href="{{pathFor 'dominioList'}}">Dominios</a></li>
                <li><a href="{{pathFor 'aspectoList'}}">Aspectos</a></li>
                <li><a href="{{pathFor 'indicadorList'}}">Indicadores</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Crear <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'regionNew'}}">Región</a></li>
                <li><a href="{{pathFor 'provinciaNew'}}">Provincia</a></li>
                <li><a href="{{pathFor 'distritoNew'}}">Distrito</a></li>
                <li class="divider"></li>
                <li><a href="{{pathFor 'ieNew'}}">Institución Educativa</a></li>
                <li><a href="{{pathFor 'docenteNew'}}">Docente</a></li>
                <li class="divider"></li>
                <li><a href="{{pathFor 'dominioNew'}}">Dominio</a></li>
                <li><a href="{{pathFor 'aspectoNew'}}">Aspecto</a></li>
                <li><a href="{{pathFor 'indicadorNew'}}">Indicador</a></li>
              </ul>
            </li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{> loginButtons }}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>