<template name="provinciaNew">
  <div class="page-header">
    <h2>Crear nueva Provincia
      <span class="small pull-right"><a href="{{pathFor 'provinciaList'}}" class="btn btn-sm btn-success"><i class="fa fa-table"></i> Ver todas las provincias</a></span>
    </h2>
  </div>
  <form class="form form-inline" role="form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nombre de la provincia" required id="nombre" autofocus>
    </div>
    <div class="form-group">
      <select name="region" id="region" class="form-control" required>
        <option value="">Pertenece a</option>
        {{#each regiones}}
        <option value="{{_id}}">{{nombre}}</option>
        {{/each}}
      </select>
    </div>
    <button class="btn btn-primary" id="" type="submit" name="submit"><i class="fa fa-save"></i> Guardar</button>
  </form>
</template>