// Iron Router
color = #3498db

#iron-router-progress 
  background-color color !important;
  box-shadow 0 0 5px color;

// Bootstrap
body
  padding-top 60px
  padding-bottom 30px

.page-header
  background-image linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%)
  background-repeat repeat-x
  border 1px solid #ddd
  border-top-left-radius 15px
  padding 10px 10px 5px 10px
  &.mini
    margin 0
    margin-bottom 10px
    padding-bottom 10px
    h5
      margin 0

.icon-new
  color #27ae60

.icon-list
  color #2980b9

.line-left
  border-left 1px solid #ddd

.actions
  margin-top 10px
  padding 20px
  border-top 1px solid #ddd
  background rgba(238, 238, 238, 0.4)

.modal
  &.modal-large
    .modal-dialog
      width 80%
    .modal-body
      overflow-y auto

.alert
  margin-top 10px

.data-chk
  cursor default

.no-line
  text-decoration none !important