// Iron Router
color = #3498db

#iron-router-progress 
  background-color color !important;
  box-shadow 0 0 5px color;

// Bootstrap
body
  padding-top 60px
  padding-bottom 30px

.alert
  margin-top 10px

.data-chk
  cursor default