<template name="insertData">
  <div class="page-header">
    <h2>{{nombre}}</h2>
  </div>
  <form class="{{#if directivo}}formdirectivo{{else}}formdocente{{/if}}" role="form">
    <input type="hidden" name="tipo" id="tipo" value="{{#if directivo}}directivo{{else}}docente{{/if}}">
    <input type="hidden" name="formId" id="formId" value="{{_id}}">
    {{#if directivo}}
      {{>headerDirectivo}}
    {{/if}}
    {{#if docente}}
      {{>headerDocente}}
    {{/if}}
    <hr>   
    
    <table class="table table-bordered table-striped table-hover" id="table">
      {{#if directivo}}
        {{>treeDirectivo}}
      {{/if}}
      {{#if docente}}
        {{>treeDocente}}
      {{/if}}
    </table>
    <div class="actions">
      <button class="btn btn-primary btn-block" id="" type="submit" name="submit"><i class="fa fa-save"></i> Guardar</button>
    </div>
  </form>
</template>