<template name="regionEdit">
  <div class="page-header">
    <h2><i class="fa fa-pencil icon-new"></i> Editar UGEL
      <span class="small pull-right"><a href="{{pathFor 'regionList'}}" class="btn btn-sm btn-success"><i class="fa fa-table"></i> Ver todas las regiones</a></span>
    </h2>
  </div>
  <form class="form-inline form" role="form">
    <div class="form-group">
      <label for="codigo">Código:</label>
      <input type="number" class="form-control" placeholder="Código de la UGEL" required autofocus id="codigo" value="{{codigo}}">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" placeholder="Nombre de la UGEL" required autofocus id="nombre" value="{{nombre}}">
    </div>
    <button class="btn btn-primary" id="" type="submit" name="submit"><i class="fa fa-save"></i> Guardar</button>
  </form>
</template>