<template name="ieEdit">
  <div class="page-header">
    <h2>Editar Institución Educativa
      <span class="small pull-right"><a href="{{pathFor 'ieList'}}" class="btn btn-sm btn-success"><i class="fa fa-table"></i> Ver todas las Instituciones Educativas</a></span>
    </h2>
  </div>
  <form class="form" role="form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" required id="nombre" autofocus placeholder="Nombre de la IE" value="{{nombre}}">
    </div>

    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <label for="modular">Código Modular:</label>
          <input type="text" class="form-control" required id="modular" placeholder="Código Modular" value="{{modular}}">
        </div>
        <div class="col-sm-4">
          <label for="codigo">Código de Local:</label>
          <input type="text" class="form-control" required id="codigo" placeholder="Código de Local" value="{{codigo}}">
        </div>
        <div class="col-sm-4">
          <label for="ebr">EBR:</label>
          <select name="ebr" id="ebr" class="form-control" required>
            <option value="">EBR</option>
            {{{optionObjectCompare ebrs ebr}}}
          </select>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-6">
          <label for="direccion">Dirección:</label>
          <input type="text" class="form-control" required id="direccion" placeholder="Dirección" value="{{direccion}}">
        </div>
        <div class="col-sm-6">
          <label for="distrito">Pertenece a:</label>
          {{> inputAutocomplete settings=settings id="distrito" class="form-control" placeholder="Pertenece a" value=distrito.nombre}}
          <input type="hidden" id="distritoId" value="{{distritoId}}">
        </div>
      </div>
    </div>
    
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <label for="nivel">Nivel/Modalidad:</label>
          <select name="nivel" id="nivel" class="form-control" required>
            <option value="">Nivel/Modalidad</option>
            {{{optionObjectCompare niveles nivel}}}
          </select>
        </div>
        <div class="col-sm-4">
          <label for="genero">Genero:</label>
          <select name="genero" id="genero" class="form-control" required>
            <option value="">Género</option>
            {{{optionObjectCompare generos genero}}}
          </select>
        </div>
        <div class="col-sm-4">
          <label for="area">Area:</label>
          <select name="area" id="area" class="form-control" required>
            <option value="">Área</option>
            {{{optionObjectCompare areas area}}}
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="director">Director:</label>
      <input type="text" class="form-control" required id="director" placeholder="Director" value="{{director}}">
    </div>

    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <label for="telefono">Teléfono:</label>
          <input type="tel" class="form-control" id="telefono" placeholder="Teléfono" value="{{telefono}}">
        </div>
        <div class="col-sm-4">
          <label for="email">Correo Electrónico:</label>
          <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" value="{{email}}">
        </div>
        <div class="col-sm-4">
          <label for="url">Sitio web:</label>
          <input type="url" class="form-control" id="url" placeholder="Sitio Web" value="{{url}}">
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-block" id="" type="submit" name="submit"><i class="fa fa-save"></i> Guardar</button>
  </form>
</template>