<template name="ieNew">
  <div class="page-header">
    <h2>Crear nueva Institución Educativa
      <span class="small pull-right"><a href="{{pathFor 'ieList'}}" class="btn btn-sm btn-primary"><i class="fa fa-table"></i> Ver todas las Instituciones Educativas</a></span>
    </h2>
  </div>
  <form class="form" role="form">

    <div class="form-group">
      <input type="text" class="form-control" required id="nombre" autofocus placeholder="Nombre de la IE">
    </div>

    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <input type="text" class="form-control" required id="modular" placeholder="Código Modular">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" required id="codigo" placeholder="Código de Local">
        </div>
        <div class="col-sm-4">
          <select name="ebr" id="ebr" class="form-control" required>
            <option value="">EBR</option>
            {{{optionObject ebrs}}}
          </select>
        </div>
      </div>
    </div>

    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-6">
          <input type="text" class="form-control" required id="direccion" placeholder="Dirección">
        </div>
        <div class="col-sm-6">
          {{> inputAutocomplete settings=settings id="distrito" class="form-control" placeholder="Pertenece a"}}
          <input type="hidden" id="distritoId" value="">
        </div>
      </div>
    </div>
    
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <select name="nivel" id="nivel" class="form-control" required>
            <option value="">Nivel/Modalidad</option>
            {{{optionObject niveles}}}
          </select>
        </div>
        <div class="col-sm-4">
          <select name="genero" id="genero" class="form-control" required>
            <option value="">Género</option>
            {{{optionObject generos}}}
          </select>
        </div>
        <div class="col-sm-4">
          <select name="area" id="area" class="form-control" required>
            <option value="">Área</option>
            {{{optionObject areas}}}
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" required id="director" placeholder="Director">
    </div>

    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
        </div>
        <div class="col-sm-4">
          <input type="email" class="form-control" id="email" placeholder="Correo Electrónico">
        </div>
        <div class="col-sm-4">
          <input type="url" class="form-control" id="url" placeholder="Sitio Web">
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-block" id="" type="submit" name="submit"><i class="fa fa-save"></i> Guardar</button>
  </form>
</template>

<template name="dataPiece">
  <span data-id="{{_id}}">{{parents.region.nombre}} -> {{parents.provincia.nombre}} ->{{nombre}}</span>
</template>