<template name="usuarioList">
  <div class="page-header">
    <h2>Relación de Usuarios
      <span class="small pull-right"><a href="{{pathFor 'usuarioNew'}}" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Agregar un Usuario</a></span>
    </h2>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Nombres</th>
        <th>Permisos</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{username}}</td>
        <td>{{profile.name}}</td>
        <td>
            {{objectKey roles}}
        </td>
      </tr>
      {{else}}
      <tr>
        <td>Aun no existen Usuarios. <a href="{{pathFor 'userNew'}}">Crear un Usuario</a>.</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="usuarioNew">
  <div class="page-header">
    <h2>Crear nuevo Usuario
      <span class="small pull-right"><a href="{{pathFor 'usuarioList'}}" class="btn btn-sm btn-success"><i class="fa fa-table"></i> Ver todos los usuarios</a></span>
    </h2>
  </div>
  <form class="form" role="form">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header mini">
          <h5>Datos de Usuario</h5>      
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nombres y Apellidos" id="name" required autofocus>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nombre de Usuario" id="username" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" id="password" required>
        </div>
      </div>
      <div class="col-md-4 line-left">
        <div class="page-header mini">
          <h5>Roles</h5>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="role" id="admin" value="admin"> Administrador
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="role" id="boss" value="boss"> Jefe
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="role" id="specialist" value="specialist"> Especialista
          </label>
        </div>
        <div class="page-header mini">
          <h5>Regiones asignadas <i class="fa fa-asterisk"></i></h5>
        </div>
        <div class="form-group">
          <select name="" id="" multiple="" class="form-control" size="10">
            {{#each regiones}}
            <option value="{{_id}}">{{nombre}}</option>
            {{/each}}
          </select>
          <span class="help-block small"><i class="fa fa-asterisk"></i> Los administradores tienen permisos en todas las regiones.</span>
        </div>
      </div>
    </div>
    
    
    <div class="actions">
      <button class="btn btn-primary btn-block" id="" type="submit" name="submit"><i class="fa fa-save"></i> Guardar</button>      
    </div>
  </form>
</template>